@media print {
  @page {
    size: A4;
    margin: 2rem;
  }
  :root {
    font-size: 12px;
    /*
      italic: http://legionfonts.com/fonts/arial-italic#google_vignette
    */
    font-family: Arial;
    line-height: 1rem;
  }
}

h1 {
  border-bottom: 2px solid rgb(54, 54, 54);
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

h2 {
  margin-top: 1rem;
}

h2 a {
  font-style: normal;
  color: initial;
}

h6 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

p {
  text-align: justify;
}

a {
  text-decoration: underline;
}

table {
  width: 100%;
}

ul {
  padding-left: 1.5rem;
}

th {
  text-align: left;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-weight: 900;
}

tbody tr:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

td {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

a {
  font-style: italic;
}
